@charset "utf-8";

h1 {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 96%;
    border: 1px solid #000;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 2%;
    thead {
        height: 50px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        background-color: #e1e1e1;
        th {
            border-right: 1px solid #000;
            box-sizing: border-box;
            &:last-child {
                border-right: none;
            }
        }
    } // thead종료
    tbody {
        tr {
            border-bottom: 1px solid #000;
            box-sizing: border-box;
            td {
                border-right: 1px solid #000;
                box-sizing: border-box;
                height: 50px;
                font-size: 0.8rem;
                cursor: pointer;
                &:last-child {
                    border-right: none;
                }
                a {
                    display: block;
                    text-decoration: none;
                    color: inherit;
                    height: 100%;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    } // tbody종료
} // table종료

.btn-box {
    margin-top: 100px;
    text-align: right;
    margin-right: 2%;
    button {
        padding: 0;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 0.5%;
        cursor: pointer;
    }
} // btn-box종료

.paging-box {
    width: 96%;
    margin: 100px 2% 0 2%;
    ol {
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 35%;
        gap: 2%;
        li {
            list-style: none;
            width: 10%;
            height: 10%;
            color: #000;
            a {
                display: block;
                text-decoration: none;
            }
        }
    } // ol종료
} // paging-box종료

.view-contents-box {
    border-width: 2px 0;
    border-style: solid;
    border-color: #000;
    box-sizing: border-box;
    margin: 0 2%;
    .top {
        padding: 2%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        .inner {
            display: flex;
            justify-content: space-between;
            gap: 5vw;
        }
    }
    .middle {
        padding: 2%;
        text-align: left;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
    }
    .bottom {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        padding: 2%;
        button {
            padding: 0;
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 0.5%;
            cursor: pointer;
        }
    }
} // view-contents-box종료

.insert-contents-box {
    border-width: 2px 0;
    border-style: solid;
    border-color: #000;
    box-sizing: border-box;
    margin: 0 2%;
    .top {
        padding: 2%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        span {
            display: block;
            &.title {
                width: 80%;
            }
            &.author {
                width: 20%;
            }
            height: 40px;
            input[type='text'] {
                width: 99%;
                height: inherit;
                border: none;
            }    
        }
    }
    .middle {
        padding: 2%;
        text-align: left;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        span {
            display: block;
            overflow-y: auto;
            max-height: 20%;
            height: 100px;
            textarea {
                width: 99%;
                height: inherit;
                border: none;
            }
        }
    }
    .bottom {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        padding: 2%;
        button {
            padding: 0;
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 0.5%;
            cursor: pointer;
        }
    }
} // insert-contents-box종료

.modify-contents-box {
    border-width: 2px 0;
    border-style: solid;
    border-color: #000;
    box-sizing: border-box;
    margin: 0 2%;
    .top {
        padding: 2%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        span {
            display: block;
            &.title {
                width: 80%;
            }
            &.author {
                width: 20%;
            }
            height: 40px;
            input[type='text'] {
                width: 99%;
                height: inherit;
                border: none;
            }    
        }
    }
    .middle {
        padding: 2%;
        text-align: left;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        span {
            display: block;
            overflow-y: auto;
            max-height: 20%;
            height: 100px;
            textarea {
                width: 99%;
                height: inherit;
                border: none;
            }
        }
    }
    .bottom {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
        padding: 2%;
        button {
            padding: 0;
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 0.5%;
            cursor: pointer;
        }
    }
} // modify-contents-box종료

// 로딩[s]
$text_color: #DC554F;
$stick_color: #DC554F; //Changes the colour of all sticks
$stick_length: 30px; //Changes length of all sticks
$stick_distance: -8px; //Changes distance between sticks (will need editing after 30px)

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);

.tit-Loadng {  
 font-family: 'Lato';
 color:$text_color;
 text-transform: uppercase;
 font-size:1em;
 letter-spacing:1.5px;
 text-align:center;
 width:155px;
 margin-top:20px;
 -webkit-animation: fade 2s infinite;
 -moz-animation: fade 2s infinite;
}

#container { 
    width:100%;
    height: 100vh;
    // padding-top:180px;
    margin:auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.stick {
 width: $stick_length;
 height:3px;
 background:$stick_color;
 display:inline-block;
 margin-left:$stick_distance;
}

.stick:nth-child(n) {  
  transform:rotate(30deg);
  -ms-transform:rotate(30deg); /* IE 9 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
   -moz-transform:rotate(30deg);
   -webkit-animation: fall 2s infinite;
   -moz-animation: fall 2s infinite;
}
.stick:nth-child(2n) {  
   transform:rotate(-30deg);
  -ms-transform:rotate(-30deg); /* IE 9 */
  -webkit-transform:rotate(-30deg); /* Safari and Chrome */
  -moz-transform:rotate(-30deg);
  -webkit-animation: rise 2s infinite;
  -moz-animation: rise 2s infinite;
}

@-webkit-keyframes rise {
    50% { 
        transform:rotate(30deg);
        -ms-transform:rotate(30deg); /* IE 9 */
        -webkit-transform:rotate(30deg);
        -moz-transform:rotate(30deg); 
    }
}
@-moz-keyframes rise {
    50% { 
        transform:rotate(30deg);
        -ms-transform:rotate(30deg); /* IE 9 */
        -webkit-transform:rotate(30deg);
        -moz-transform:rotate(30deg); 
    }
}

@keyframes rise {
  50% { 
    transform:rotate(30deg);
    -ms-transform:rotate(30deg); /* IE 9 */
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg); 
    }
}

@-webkit-keyframes fall {
  50% { 
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(30deg); 
    }
}
@-moz-keyframes fall {
 50% { 
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg); 
 }
}
@keyframes fall {
  50% { 
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(30deg); 
  }
}

@-webkit-keyframes fade {
  50%{opacity:0.5}
  100%{opacity:1}
}
@-moz-keyframes fade {
 50%{opacity:0.5}
  100%{opacity:1}
}
@keyframes fade {
   50%{opacity:0.5}
  100%{opacity:1}
}
// 로딩[e]